<section class="ContainerContacto">
    <DIV class="contenidoContainer">
        <div class="InformacionContacto">
            <h2>Let's get in touch </h2>
            <p class="sugerencia">We're open for any suggestion or just to have a chat</p>

        </div>
        <div class="OpcionesContacto">
            <p>Address:  Syria-Homs</p>
            <p>Phone:      + 963 983503466</p>
            <p>Email:      laralkhoder@gmail.com</p>
            <P>Website:     FashionShop.com</P>
        </div>
    </DIV>

</section>